@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:100");
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.fuller-button {
  color: rgb(255, 255, 255);
  background: none;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 3px;
  font-family: monospace;
  font-size: 1rem;
  line-height: 2rem;
}
.fuller-button.white {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
}
.fuller-button.white:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.nav-menu-1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-menu-1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-menu-1 li {
  display: inline-block;
  list-style: outside none none;
  margin: 10px 10px;
  padding: 0;
}

.nav-menu-1 a {
  padding: 0.3em 0;
  color: #000000;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.nav-menu-1 a:before,
.nav-menu-1 a:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #b83e11;
  width: 0;
}

.nav-menu-1 a:before {
  top: 0;
  left: 0;
}

.nav-menu-1 a:after {
  bottom: 0;
  right: 0;
}

.nav-menu-1 a:hover,
.nav-menu-1 .current a {
  color: #ffffff;
}

.nav-menu-1 a:hover:before,
.nav-menu-1 .current a:before,
.nav-menu-1 a:hover:after,
.nav-menu-1 .current a:after {
  width: 100%;
}

.swiper-carousel-servicios {
  position: absolute;
  z-index: 50;
  bottom: 10%;
  left: 300%;
  width: 90vw;
  height: 400px;
}

.ecran-slides-servicios {
  position: absolute;
  width: 100%;
  height: 100%;
  color: bisque;
  z-index: 49;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-custom {
  background-color: white;
}

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
}

main {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.section-pagina {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-relativo {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#section-1 {
  z-index: 82;
  background-color: #013452;
  background-image: linear-gradient(to right, #013452, #025382);
  top: 0px;
  left: 0px;
}

#section-2 {
  z-index: 81;
  background-color: #013452;
  background-image: linear-gradient(to right, #013452, #025382);
  top: 0px;
  left: 0px;
}

#section-3 {
  z-index: 83;
  background-color: #013452;
  background-image: linear-gradient(to right, #013452, #025382);
  scale: 0.9;
  top: 0px;
  left: -100vw;
}

#section-4 {
  z-index: 84;
  background-color: #013452;
  background-image: linear-gradient(to right, #013452, #025382);
  scale: 0.9;
  top: 0px;
  left: 100vw;
}

#section-5 {
  z-index: 85;
  background-color: #013452;
  background-image: linear-gradient(to right, #013452, #025382);
  scale: 0.9;
  top: -100vh;
  left: 0px;
}

#section-nav {
  position: absolute;
  z-index: 88;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  top: -60px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre {
  text-align: center;
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  color: #ffffff;
  font-size: 5rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.nombre-opcion {
  text-align: center;
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}

#precarga {
  animation: fadeInOut 2s infinite;
  animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-50%) translateX(0);
  z-index: 100;
}

.latido-1 {
  animation: fadeInOut 2s infinite;
  animation-fill-mode: forwards;
}

.oculto {
  display: none;
}

.flex {
  display: flex;
}

/* .blurreado {
  filter: blur(3px) brightness(25%);
  transition: filter 0.5s ease;
}

.no-blurreado {
  filter: blur(0px) brightness(100%);
  transition: filter 0.5s ease;
} */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contenedor-relativo {
  position: relative;
}

.btn-ingresar-card {
  top: 0px;
  left: 0px;
  width: auto;
  position: relative;
  margin-top: 20px;
  padding: 3px;
  display: flex;
  justify-content: center;
}

.contenedor-card {
  position: absolute;
  top: 200vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
}

.puntos-gsap {
  opacity: 0;
}

code, .card .line-numbers {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 150rem;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  backface-visibility: hidden;
  overflow: hidden;
  padding: 0px 10px 0px 35px;
}
.card-front:before, .card-front:after, .card-back:before, .card-back:after {
  position: absolute;
}
.card-front:before, .card-back:before {
  top: -40px;
  right: -40px;
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.08);
  transform: rotate(45deg);
  z-index: 1;
}
.card-front:after, .card-back:after {
  content: "+";
  top: 0;
  right: 10px;
  font-size: 24px;
  transform: rotate(45deg);
  z-index: 2;
}
.card-front {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #101010, #2c3e50);
}
.card-front:after {
  color: #212f3c;
}
.card-back {
  background: linear-gradient(-45deg, #101010, #2c3e50);
  transform: rotateX(180deg);
}
.card-back:after {
  color: #11181f;
}
.card:hover .card-front {
  transform: rotateX(-180deg);
}
.card:hover .card-back {
  transform: rotateX(0deg);
}
.card .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.03);
  font-size: 13px;
}
.card .line-numbers > div {
  padding: 2.5px 0;
  opacity: 0.15;
}
.card code, .card .line-numbers {
  color: whitesmoke;
}
.card .indent {
  padding-left: 30px;
}
.card .operator {
  color: #4dd0e1;
}
.card .string {
  color: #9ccc65;
}
.card .variable {
  color: #ba68c8;
}
.card .property {
  color: #ef5350;
}
.card .method {
  color: #29b6f6;
}
.card .function {
  color: #fdd835;
}
.card .boolean {
  color: #4dd0e1;
}

.firstinfo, .badgescard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
}

.card-1 {
  width: 100%;
  min-height: 170px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  /*   &:after {
    content: "";
    display: block;
    width: 250px;
    height: 400px;
    background: cadetblue;
    position: absolute;
    top: -40%;
    left: -60%;
    transform: rotate(-30deg);
    //animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
  } */
}

.contenedor-profile-card {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  width: 100%;
}

.cuadrado-rotado {
  display: block;
  width: 270px;
  height: 580px;
  background: cadetblue;
  position: absolute;
  top: -40%;
  left: -150%;
  transform: rotate(-30deg);
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ececec;
  width: 95%;
  height: 100px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  bottom: 10px;
}
.badgescard i {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.badgescard-flex {
  flex-wrap: wrap;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #000000;
  line-height: 1;
  font-style: initial;
}

.br-oculto {
  display: none;
}

.ocultar-img {
  display: none;
}

/* @keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
} */
/* @keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
} */
/* @keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
} */
.contenedor-txt-mensajes {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  border: 0px solid #fff;
}

.txt-servicios {
  color: white;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  opacity: 0;
  scale: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 4rem;
  text-align: center;
}

.txt-servicios-pregunta {
  scale: 0;
}

#ts-1 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-2 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-3 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-4 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-5 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-6 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-7 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-8 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-9 {
  background: rgba(0, 0, 0, 0.9) url("../img/slide8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

.fondo-about {
  height: 100%;
  width: 95%;
  position: absolute;
  top: 100vh;
}

form {
  display: contents;
}

.background {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.container-contact {
  flex: 0 1 800px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  border-radius: 15px;
  background-color: #141e30;
  background-image: linear-gradient(to right, #141e30, #243b55);
  height: 500px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #363637;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: rgb(243, 79, 79);
}

.screen-header-button.maximize {
  background: rgb(255, 165, 0);
}

.screen-header-button.minimize {
  background: rgb(48, 150, 48);
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 2;
  padding: 50px 25px 20px 25px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ffffff;
}

.app-contact {
  position: relative;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    flex-direction: row;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
}
.menu-rss {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 330px;
}

.menu-rss:hover {
  pointer-events: all;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.spacer {
  display: inline-block;
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item-rrss {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

span a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.item-rrss:hover span a {
  color: #ff0000;
}

.menu-rss:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.menu-rss:hover .item-rrss {
  opacity: 1;
  top: 0px;
}

.item-rrss:nth-child(1) {
  transition-delay: 0.45s;
}

.item-rrss:nth-child(2) {
  transition-delay: 0.4s;
}

.item-rrss:nth-child(3) {
  transition-delay: 0.35s;
}

.item-rrss:nth-child(4) {
  transition-delay: 0.3s;
}

.item-rrss:nth-child(5) {
  transition-delay: 0.25s;
}

.item-rrss:nth-child(6) {
  transition-delay: 0.2s;
}

.item-rrss:nth-child(7) {
  transition-delay: 0.15s;
}

.item-rrss:nth-child(8) {
  transition-delay: 0.1s;
}

.item-rrss:nth-child(9) {
  transition-delay: 0.05s;
}

.item-rrss:nth-child(10) {
  transition-delay: 0s;
}

.menu-rss:hover .item-rrss:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-rss:hover .item-rrss:nth-child(2) {
  transition-delay: 0.3s;
}

.menu-rss:hover .item-rrss:nth-child(3) {
  transition-delay: 0.35s;
}

.menu-rss:hover .item-rrss:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-rss:hover .item-rrss:nth-child(5) {
  transition-delay: 0.45s;
}

.menu-rss:hover .item-rrss:nth-child(6) {
  transition-delay: 0.5s;
}

.menu-rss:hover .item-rrss:nth-child(7) {
  transition-delay: 0.55s;
}

.menu-rss:hover .item-rrss:nth-child(8) {
  transition-delay: 0.6s;
}

.menu-rss:hover .item-rrss:nth-child(9) {
  transition-delay: 0.65s;
}

.menu-rss:hover .item-rrss:nth-child(10) {
  transition-delay: 0.7s;
}

@media screen and (min-width: 280px) and (max-width: 319px) {
  .nav-menu-1 {
    font-size: 10px;
  }
  .nav-menu-1 li {
    margin: 10px 3px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .nav-menu-1 {
    font-size: 12px;
  }
  .nav-menu-1 li {
    margin: 10px 7px;
  }
}
@media screen and (min-width: 360px) and (max-width: 479px) {
  .nav-menu-1 {
    font-size: 12px;
  }
  .nav-menu-1 li {
    margin: 10px 7px;
  }
  .ocultar-img {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav-menu-1 li {
    margin: 10px 10px;
  }
  .ocultar-img {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    width: 700px;
    min-height: 170px;
  }
  .badgescard {
    width: 680px;
    height: 50px;
  }
  .contenedor-card {
    width: 500px;
    height: 300px;
  }
  .card-front, .card-back {
    padding: 0;
  }
  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 560px;
    height: 400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1239px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    width: 700px;
    min-height: 170px;
  }
  .contenedor-card {
    width: 500px;
    height: 300px;
  }
  .badgescard {
    width: 680px;
    height: 50px;
  }
  .card-front, .card-back {
    padding: 0;
  }
  .nav-menu-1 li {
    margin: 10px 10px;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 900px;
    height: 400px;
  }
}
@media screen and (min-width: 1240px) and (max-width: 2559px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    width: 700px;
    min-height: 170px;
  }
  .contenedor-card {
    width: 500px;
    height: 300px;
  }
  .badgescard {
    width: 680px;
    height: 50px;
  }
  .card-front, .card-back {
    padding: 0;
  }
  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 900px;
    height: 400px;
  }
}
@media screen and (min-width: 2560px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    width: 700px;
    min-height: 170px;
  }
  .contenedor-card {
    width: 500px;
    height: 300px;
  }
  .badgescard {
    width: 680px;
    height: 50px;
  }
  .card-front, .card-back {
    padding: 0;
  }
  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 1150px;
    height: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
