*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $glb-font-family;
  font-size: $glb-fs-small;
  line-height: $glb-fs-small-lh;
  font-weight: 300;
  // background: #d8ecfb;
  // background: -webkit-linear-gradient(to left, #92bcdc, #d8ecfb);

  // background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #2c5364, #203a43, #0f2027);

  //background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
  //height: 100vh;
}

main {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.section-pagina {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-relativo {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#section-1 {
  z-index: 82;
  background-color: $glb-brand-color01;
  background-image: linear-gradient(to right, $glb-brand-color01, $glb-brand-color01-deg);
  top: 0px;
  left: 0px;
}

#section-2 {
  z-index: 81;
  background-color: $glb-brand-color01;
  background-image: linear-gradient(to right, $glb-brand-color01, $glb-brand-color01-deg);
  top: 0px;
  left: 0px;
}

#section-3 {
  z-index: 83;
  background-color: $glb-brand-color01;
  background-image: linear-gradient(to right, $glb-brand-color01, $glb-brand-color01-deg);
  scale: 0.9;
  top: 0px;
  left: -100vw;
}

#section-4 {
  z-index: 84;
  background-color: $glb-brand-color01;
  background-image: linear-gradient(to right, $glb-brand-color01, $glb-brand-color01-deg);
  scale: 0.9;
  top: 0px;
  left: 100vw;
}

#section-5 {
  z-index: 85;
  background-color: $glb-brand-color01;
  background-image: linear-gradient(to right, $glb-brand-color01, $glb-brand-color01-deg);
  scale: 0.9;
  top: -100vh;
  left: 0px;
}

#section-nav {
  position: absolute;
  z-index: 88;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  top: -60px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-txt-mensajes {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  border: 0px solid #fff;
}

.txt-servicios {
  color: white;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  opacity: 0;
  scale: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 4rem;
  text-align: center;
}

.txt-servicios-pregunta {
  scale: 0;
}

@mixin ts-x-texto($color, $imagen) {
  background: $color url($imagen);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-1 {
  @include ts-x-texto($glb-color-overlay, "../img/slide0.jpg");
}

#ts-2 {
  @include ts-x-texto($glb-color-overlay, "../img/slide1.jpg");
}

#ts-3 {
  @include ts-x-texto($glb-color-overlay, "../img/slide2.jpg");
}

#ts-4 {
  @include ts-x-texto($glb-color-overlay, "../img/slide3.jpg");
}

#ts-5 {
  @include ts-x-texto($glb-color-overlay, "../img/slide4.jpg");
}

#ts-6 {
  @include ts-x-texto($glb-color-overlay, "../img/slide5.jpg");
}

#ts-7 {
  @include ts-x-texto($glb-color-overlay, "../img/slide6.jpg");
}

#ts-8 {
  @include ts-x-texto($glb-color-overlay, "../img/slide7.jpg");
}

#ts-9 {
  @include ts-x-texto($glb-color-overlay, "../img/slide8.jpg");
}
