*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $glb-font-family;
  font-size: $glb-fs-small;
  line-height: $glb-fs-small-lh;
  font-weight: 300;
  // background: #d8ecfb;
  // background: -webkit-linear-gradient(to left, #92bcdc, #d8ecfb);

  // background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #2c5364, #203a43, #0f2027);

  //background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
  //height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-relativo {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#section-1 {
  z-index: 81;
  background-color: #141e30;
  background-image: linear-gradient(to right, #141e30, #243b55);
  top: 0px;
  left: 0px;
}

#section-2 {
  z-index: 82;
  background-color: #2d0e0e;
  background-image: linear-gradient(to right, #2d0e0e, #581c1c);
  top: 100vh;
  left: 0px;
}

#section-3 {
  z-index: 83;
  background-color: #484815;
  background-image: linear-gradient(to right, #484815, #92922b);
  top: 0px;
  left: -100vw;
}

#section-4 {
  z-index: 84;
  background-color: #133513;
  background-image: linear-gradient(to right, #133513, #297229);
  top: 0px;
  left: 100vw;
}

#section-5 {
  z-index: 85;
  background-color: #341235;
  background-image: linear-gradient(to right, #341235, #732775);
  top: -100vh;
  left: 0px;
}
