@media screen and (min-width: 280px) and (max-width: 319px) {
  .nav-menu-1 {
    font-size: 10px;
    li {
      margin: 10px 3px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .nav-menu-1 {
    font-size: 12px;
    li {
      margin: 10px 7px;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
  .nav-menu-1 {
    font-size: 12px;
    li {
      margin: 10px 7px;
    }
  }
  .ocultar-img {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav-menu-1 li {
    margin: 10px 10px;
  }
  .ocultar-img {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }

  .card-1 {
    @include dimensions(700px, 170px);
  }

  .badgescard {
    width: 680px;
    height: 50px;
  }

  .contenedor-card {
    width: 500px;
    height: 300px;
  }

  .card {
    &-front,
    &-back {
      padding: 0;
    }
  }

  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }

  .swiper-carousel-servicios {
    width: 560px;
    height: 400px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1239px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    @include dimensions(700px, 170px);
  }

  .contenedor-card {
    width: 500px;
    height: 300px;
  }

  .badgescard {
    width: 680px;
    height: 50px;
  }

  .card {
    &-front,
    &-back {
      padding: 0;
    }
  }
  .nav-menu-1 li {
    margin: 10px 10px;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 900px;
    height: 400px;
  }
}

@media screen and (min-width: 1240px) and (max-width: 2559px) {
  .br-oculto {
    display: block;
  }

  .ocultar-img {
    display: block;
  }

  .card-1 {
    @include dimensions(700px, 170px);
  }

  .contenedor-card {
    width: 500px;
    height: 300px;
  }

  .badgescard {
    width: 680px;
    height: 50px;
  }

  .card {
    &-front,
    &-back {
      padding: 0;
    }
  }
  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 900px;
    height: 400px;
  }
}

@media screen and (min-width: 2560px) {
  .br-oculto {
    display: block;
  }
  .ocultar-img {
    display: block;
  }
  .card-1 {
    @include dimensions(700px, 170px);
  }

  .contenedor-card {
    width: 500px;
    height: 300px;
  }

  .badgescard {
    width: 680px;
    height: 50px;
  }

  .card {
    &-front,
    &-back {
      padding: 0;
    }
  }
  .nav-menu-1 li {
    margin: 0.5em 1.5em;
  }
  .screen {
    height: 420px;
  }
  .menu-rss {
    top: 250px;
  }
  .txt-servicios {
    font-size: 6rem;
    line-height: 6rem;
  }
  .swiper-carousel-servicios {
    width: 1150px;
    height: 400px;
  }
}
