@mixin absolute-centrado($transY, $transX) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY($transY) translateX($transX);
}

@mixin texto-grande($color, $fs) {
  text-align: center;
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  color: $color;
  font-size: $fs;
  //line-height: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.nombre {
  @include texto-grande($glb-brand-color01, 5rem);
}

@mixin latido-1 {
  animation: fadeInOut 2s infinite;
  animation-fill-mode: forwards;
}

#precarga {
  //@include latido-1;
  @include absolute-centrado(-50%, 0);
  z-index: 100;
}

.latido-1 {
  @include latido-1;
}

.oculto {
  display: none;
}

.flex {
  display: flex;
}

/* .blurreado {
  filter: blur(3px) brightness(25%);
  transition: filter 0.5s ease;
}

.no-blurreado {
  filter: blur(0px) brightness(100%);
  transition: filter 0.5s ease;
} */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contenedor-relativo {
  position: relative;
}
