.contenedor-txt-mensajes {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  border: 0px solid #fff;
}

.txt-servicios {
  color: $glb-brand-color01;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  opacity: 0;
  scale: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 4rem;
  text-align: center;
}

.txt-servicios-pregunta {
  scale: 0;
}

@mixin ts-x-texto($color, $imagen) {
  background: $color url($imagen);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

#ts-1 {
  @include ts-x-texto($glb-color-overlay, "../img/slide0.jpg");
}

#ts-2 {
  @include ts-x-texto($glb-color-overlay, "../img/slide1.jpg");
}

#ts-3 {
  @include ts-x-texto($glb-color-overlay, "../img/slide2.jpg");
}

#ts-4 {
  @include ts-x-texto($glb-color-overlay, "../img/slide3.jpg");
}

#ts-5 {
  @include ts-x-texto($glb-color-overlay, "../img/slide4.jpg");
}

#ts-6 {
  @include ts-x-texto($glb-color-overlay, "../img/slide5.jpg");
}

#ts-7 {
  @include ts-x-texto($glb-color-overlay, "../img/slide6.jpg");
}

#ts-8 {
  @include ts-x-texto($glb-color-overlay, "../img/slide7.jpg");
}

#ts-9 {
  @include ts-x-texto($glb-color-overlay, "../img/slide8.jpg");
}
