.swiper-carousel-servicios {
  position: absolute;
  z-index: 50;
  bottom: 10%;
  left: 300%;
  width: 90vw;
  height: 400px;
}

.ecran-slides-servicios {
  position: absolute;
  width: 100%;
  height: 100%;
  color: bisque;
  z-index: 49;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-custom {
  background-color: white;
}
