.swiper-carousel-servicios {
  position: absolute;
  z-index: 50;
  bottom: 10%;
  left: 200%;
  width: 900px;
  height: 400px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-custom {
  background-color: white;
}
