@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:100");

$glb-brand-color01: #013452;
$glb-brand-color01-deg: #025382;
$glb-brand-color02: #ab6c18;
$glb-brand-color02-deg: #e89220;
$glb-brand-color-analogo-oscuro-1: #b89211;
$glb-brand-color-analogo-oscuro-2: #b83e11;
$glb-brand-color-analogo-claro-1: #fcf549;
$glb-brand-color-analogo-claro-2: #fc7d49;

$glb-font-family: "Roboto Condensed", sans-serif;
$glb-font-color-light: white;
$glb-font-color-dark: black;
$glb-font-color-footer: rgba(0, 0, 0, 0.05);
$glb-fs: 1rem;
$glb-fs-lh: 2rem;
$glb-fs-small: 0.9rem;
$glb-fs-small-lh: 1.5rem;
$glb-color-overlay: rgba(0, 0, 0, 0.9);
$glb-color-overlay-brand-1: rgb(1, 52, 82, 0.9);
